<%- include('partials/header') %>
<h1>Welcome to:</h1>
<img ID="home-image" src="/images/logo.png" width = 300px>
<p class ="home-text">We provide a tool to help incentivize good behaviors 
  through a Behave to Earn (B2E) system. Here are 3 simples steps to get started:</p>
<ol>
  <li>Navigate to <a href="/kids">Kids</a> page and select your child or add a child</li>
  <br><li>Add a reward to your childs page from the drop-down list or add your own to the <a href="/rewards">Rewards</a> page</li>
  <br><li>Add completed tasks to your childs page from the drop-down list or add your own to the <a href="/tasks">Tasks</a> page</li>
  <li>Once your child has accumulated enough <img src="/images/g-buck.png" width= 29px> bucks to earn their reward, simply clear their tasks and start over at step 2.</li>
</ol>
<p class ="home-text">I hope you enjoy the app! If you have any feedback or suggestions please e-mail me: 
  <a href="https://mail.google.com/mail/u/0/?fs=1&to=casetrait@gmail.com&su=SUBJECT&body=BODY&tf=cm">casetrait@gmail.com</a>
</p>
<%- include('partials/footer') %>
