<%- include('partials/header') %>
<h1><%= title %></h1>
<h3>Welcome to:</h3>
<img src="/images/logo.png" width = 300px>
<h3>We provide a tool to incentivize good behaviors 
  through a points and reward system. Here are 3 simples steps to get started:</h3>
<ol>
  <li>Navigate to <a href="/kids">Kids</a> and select your child or add a child</li>
  <li>Add a reward to your childs page from the provided list or create your own</li>
  <li>Add completed tasks to your childs page from the provided list or add your own</li>
</ol>
<p>Once your child has accumulated enough points to earn their rewards, start over at step 2. 
  Yes, it is that easy!
</p>
<%- include('partials/footer') %>
