body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 5px solid #9B50F8;
}

nav > img {
  width: 50px;
  object-fit: contain;
  margin-right: auto;
}

#kid-list, #rewards-list, #tasks-list {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid black;
}

td, th {
  padding: 3px;
  border: 1px solid black;
}

nav a {
  padding: 0 15px;
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

h2, li {
  text-align: justify;
}

.description {
  width: 150px;
  height: 30px;
}

small {
  padding-right: 20px;
}

.new-form {
  text-align:left;
  padding-left: 50px;
}

div input {
  width:max-content;
}