body {
  font-size: 14px;
  text-align: center;
  background-color: #fed4011c;
  font-family: 'Varela Round', sans-serif;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 5px solid #6c2db9;
}

nav > img {
  width: 50px;
  object-fit: contain;
  margin-right: auto;
}

.home-text {
  text-align: justify;
  margin: 0 15px;
}

li {
  margin-right: 25px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.list-table {
  width: 350px;
  border-collapse: collapse;
  border: 1px solid black;
}

h1 {
  margin-top: 10px;
}

th, td {
  padding: 3px;
  border: 1px solid black;
}

.add-table {
  border: none;
  text-align: right;
}

th, button, input {
  font-size: 15px;
  background-color: #9c50f870;
  border: 1px solid black;
  margin: 5px 0px;
}

input {
  background-color: #9c50f817;
}

small {
  font-size: 14px;
}

.add-text {
  font-size: 15px;
  margin-bottom: 5px;
  text-decoration: underline;
}

a {
  color: #6c2db9;
  text-decoration: none;
}

nav a {
  padding: 0 12px;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}

h2, li {
  text-align: justify;
}

.description {
  width: 150px;
  height: 30px;
}

small {
  padding-right: 20px;
}

.new-form {
  text-align: center;
}

#kid-task-list {
  margin-top: 20px;
}
